.containerActivite {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-top: 3%;
}

.bgroundActivite {
    background-color: #FBFBFB;
    width: 835px;
    height: 320px;
    margin-bottom: 3%;
    border-radius: 5px;
}

.containerActivite h3 {
    margin-top: 5px;
}

.Container {
    background-color: #E60000;
    width: 45px;
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Text {
    font-weight: 500;
    font-size: 11px;
    color: white;
    line-height: 24px;
}

.Wrapper {
    margin-bottom: 2em;
    border-radius: 5px;
    background: #FBFBFB;
    padding: 25px;
}

.Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.Title {
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
}


.IconCalories  {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #E60000;
    margin: 8px 8px 8px 30px;
}
.IconPoids{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color:#282D30;
    margin: 8px;
}


.Legend {
    display: flex;
    align-items: center;
}

.TextLegend{

    font-weight: 500;
    font-size: 14px;
    color: #9B9EAC;
    line-height: 24px;
}

.Info {
    display: flex;
    align-items: center;
}
.active {
    visibility: visible;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 401ms ease 0s;
    transform: translate(400.5px, -26px);
}