.bgroundNutrition {
    display: flex;
    background-color: #FBFBFB;
    height: 124px;
    width: 258px;
    margin-bottom: 38px;
    border-radius: 5px;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    padding-left: 40px;
}

.center img {
    height: 60px;
    width: 60px;
}
.flexBoxNutrition {
    display: flex;
    flex-direction: column;
    padding: 20px 15px 15px 15px;
    justify-content: center;
}
.flexBoxSpan{
    display: contents;
}

.flexBoxSpan span{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    }
.flexBoxSpan p{
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
    color: darkgray;
}