.h1Red{
    color: red;
}

.titre {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
    bottom: 67%;
}

.titre h2{
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    width: 100%;
    padding-right: 25px;
}

.containerGlobal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: max-content; 
    position: absolute;
    left: 15%;
    top: 33%;  
}

.flexbox {
    display: flex;
    justify-content: flex-start; 
    gap:30px;
    width: max-content;
}

.flexbox > div {
    flex: 1; 
    text-align: center;
}

.flexbox2 {
   height: 575px;
}
.activity {
    width: max-content;
    
}