.h1Red{
    color: red;
}

.titre {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
    bottom: 67%;
}

.titre h2{
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.containerGlobal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    position: absolute;
    left: 15%;
    top: 29%;
    width: 82%;
    height: 90%;
}

.flexbox {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    width: 95%;
    height: 263px;
}

.flexbox > div {
    flex: 1; 
    text-align: center;
}

.flexbox2 {
   height: 606px;
}
.activity {
    width: 95%;
}