.navbar_logo img {
    width: 150px;
    height: 52px;
}


.navbar {
    background-color: black; 
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 91px;
    width: 100%;
}

.navbar span {
    font-weight: 600;
    cursor: pointer;

}

