.navbar_logo img {
    width: 150px;
    height: 52px;
    padding-left: 20px;
}


.navbar {
    background-color: black; 
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding-right: 75px;
}

.navbar span {
    font-weight: 600;
    cursor: pointer;

}

